.container{
    background-color: #282c34;
    padding: 20px;
}

.texte{
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.imageLogo{
    width: 64px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navItem{
    color: whitesmoke;
    margin: auto 10px;
    font-size: 18px;
    text-decoration: none;
}

.navItemActive {
    margin: auto 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #61dafb;
}