.container{
    background-color: #282c34;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.texte{
    color: whitesmoke;
    font-weight: bold;
    font-size: 30px;
}

.imageLogo{
    width: 64px;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.navItem{
    color: whitesmoke;
    margin: auto 10px;
    font-size: 18px;
    text-decoration: none;
}

.navItemActive {
    margin: auto 10px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    color: #61dafb;
}

.itemsContainer {
}

@media (max-width: 700px) {
  .itemsContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -100%;
    padding: 10px;
    background-color: #282c34;
    width: 75%;
    transition: all 0.5s ease-in-out;
  }
}

